.cast-det-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffc60a36;
}

.cast-det-text{
    color: #ababab;
    display: flex;
    flex-direction: column;
}

.cast-det-wrapper img{
    width: 20%;
    padding: 2%;
}

.cast-det-text{
    font-size: 15px;
    font-weight: 100;
    padding: 5%;
}

.cast-det-lower-wrapper {
    padding: 3%;
}

@media screen and (max-width: 600px)  {
    .cast-det-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .cast-det-wrapper img{
        width: 40%;
        padding: 2%;
    }

    .cast-det-text {
        align-items: center;
        font-size: 15px;
        text-align: center;
    }
    
}