.details-page{
    /* display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-items: end;  */
}

.details img {
    width: 30%;
    margin: 3%;
}

.details-wrapper {
    position: relative;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bg-image {
    opacity: 0.2;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.details-cast-w-text{
    background-color: #121212;
    padding: 3% 0;
}

.details-cast-w-text h2{
    margin-left: 5%;
    /* margin-top: 5%; */
}

.details-cast{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.details-cast div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.details-cast img{
    /* margin-left: 21%; */
    width: 125px;
    margin: 0 25px;
}

.details-similar {
    padding: 3% 0;
}

.details-similar h2{
    margin-left: 5%;
}

.recoms {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.recoms div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recoms div p{
    max-width: fit-content;
}


.recoms img{
    width: 125px;
}

.details-genre-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
}

.details-genre-list .genres {
    margin-right: .5%;
    color:#ababab;
}

.details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
}

.details-content h1{
    margin: 0%;
    padding: 0%;
}

.details-content .date, .duration {
    display: flex;
    align-items: center;
    color: #ababab;
    font-size: 15px;
}

.details-content .rel-date-text, .runtime-text, .genres-text {
    color: aliceblue;
    display: inline;
    margin-right: 1%;
}

button {
    background-color: transparent;
    border: 1px transparent;
}

.loader {
    padding: 20% 40%;
    font-size: 20px;
}

.rec-title {
    padding-left: 5%;
}
.fav-title, .watchlist-title {
    padding-left: 3%; 
    padding-top: 2%;
}

@media screen and (max-width: 900px)  {
    .details-cast{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        padding: 2%;
        grid-auto-rows: minmax(100px, auto);
    }

    .details-cast img{
        width: 50%;
    }

    
}

@media screen and (max-width: 700px)  {

    .details {
        flex-direction: column;
        align-items: center;
        margin-top: 4%;
    }

    .details img {
        width: 35%;
    }

    .bg-image {
        width: 165%;
    }

    .details-content {
        align-items: center;
        font-size: 70%;
        margin-top: 2%;
    }

    .details-genre-list, .duration{
        display: none;
    }

    .rel-date-text, .rel-date, .date .rel-date-text {
        font-size: 11px;
        display: none;
    }

    .overview {
        text-align: center;
    }

    .details-cast img{
        width: 70%;
    }

    .movie-title, .overview {
        margin: 0 15%;
    }
/* 
    .details-cast{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        padding: 2%;
        grid-auto-rows: minmax(100px, auto);
    }
     */
}

