.notFound-wrapper {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound-wrapper input{
    padding: 10%;
    color: aliceblue;
    background-color: #121212;
    border-radius: 10px;
}