.container{
    display: flex;
    list-style: none;
    padding-bottom: 5%;
}

.page{
	padding: 8px;
    border: 1px solid #ababab;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
}

.active{
	border: 1px solid rgb(0, 0, 0);
    font-weight: bold;
}

.previous{
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    /* cursor: pointer; */
}

.break{
    padding: 10px;
}

.next{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    /* cursor: pointer; */
}